[".local/share/blesh"]
	type = "archive"
	# source: https://github.com/akinomyoga/ble.sh/releases
	url  = "https://github.com/akinomyoga/ble.sh/releases/download/nightly/ble-nightly-20260711+d69e4d5.tar.xz"
	checksum.sha512 = "19613da5a207764992531b83e8d9247c75dd9713291dc3fe1db23de495db2cab0d1a1cfecd528e5a972893973a43de5aa59678c817c99bc8739beb9dea7d5b7f"
	stripComponents = 1
	exact = true

# vim: filetype=toml
