[".local/share/blesh"]
	type = "archive"
	# source: https://github.com/akinomyoga/ble.sh/releases
	url  = "https://github.com/akinomyoga/ble.sh/releases/download/v0.4.0-devel3/ble-0.4.0-devel3.tar.xz"
	checksum.sha512 = "046fbe8a73b5ecbeb27ecb496c384d2ef713adf1d8199d40c3c274b6948395c7d94d78b21fd8b756a67ce9834c8c2350bb8a0e48a9e1380bca8e818f51b5899c"
	stripComponents = 1
	exact = true

# vim: filetype=toml
