{{/* Linux Go binaries could run on android, but android has blocked some syscalls (faccessat2) */}}
{{/* therefore special binaries built with GOOS=android are required. So android is not supported by default */}}
{{ $supported_os := list "linux" }}
{{ $supported_arch := list "amd64" "arm64" }}

{{ define "amd64" }}
	url = "https://github.com/junegunn/fzf/releases/download/0.43.0/fzf-0.43.0-linux_amd64.tar.gz"
	checksum.sha512 = "bede5f5aa1eb4daf01d482977824942037adfcdf7894f258c20e849c49369ea23c0b4c7eb528bc1792cff6a0b5b3e498caab9f4b9ffda7a7ac8b545a48556183"
{{ end }}

# ARM 64bit also called arm64, aarch64, armv8
{{ define "arm64" }}
	url = "https://github.com/junegunn/fzf/releases/download/0.43.0/fzf-0.43.0-linux_arm64.tar.gz"
	checksum.sha512 = "d422a22563ac028b710112edbf832ec465985f20e5257444cc47bfe116a5654a2a7fcc8921c050644be32559d0a915db3a06af62dc3441ce4138e05ab83715ce"
{{ end }}

{{ define "binary" }}
	{{ if eq .chezmoi.arch "amd64" }}
		{{ template "amd64" }}
	{{ else if eq .chezmoi.arch "arm64" }}
		{{ template "arm64" }}
	{{ end }}
{{ end }}

{{ define "sources" }}
	url = "https://github.com/junegunn/fzf/archive/refs/tags/0.43.0.tar.gz"
	checksum.sha512sum = "84e01d2f852e0d90b2a30342f7ad9a30e4e287688f6063efc2a0f602eab5ec064819efecd2041f46869bb1956b3d3eb50e98084deeaa26272c3bbafd000648f7"
{{ end }}

{{ if and (has .chezmoi.os $supported_os) (has .chezmoi.arch $supported_arch) }}

# Fzf
[".local/bin/fzf"]
	type = "archive-file"
	path = "fzf"
	{{ template "binary" . }}
	executable = true
[".local/bin/fzf-tmux"]
	type = "archive-file"
	path = "bin/fzf-tmux"
	{{ template "sources" }}
	executable = true
	stripComponents = 1
[".local/man"]
	type = "archive"
	include = ["fzf-*/man/**"]
	{{ template "sources" }}
	stripComponents = 2

{{ end }}

# Not completion of fzf itself but for <cmd> **TAB
[".bashrc.d/additional/fzf/shell/completion.bash"]
	type = "archive-file"
	path = "shell/completion.bash"
	{{ template "sources" }}
	stripComponents = 1
[".bashrc.d/additional/fzf/shell/key-bindings.bash"]
	type = "archive-file"
	path = "shell/key-bindings.bash"
	{{ template "sources" }}
	stripComponents = 1
[".config/fish/functions/fzf_key_bindings.fish"]
	type = "archive-file"
	path = "shell/key-bindings.fish"
	{{ template "sources" }}
	stripComponents = 1

# vim: filetype=toml
