{{/* Linux Go binaries could run on android, but android has blocked some syscalls (faccessat2) */}}
{{/* therefore special binaries built with GOOS=android are required. So android is not supported by default */}}
{{ $supported_os := list "linux" "android" }}
{{ $supported_arch := list "amd64" "arm64" }}

{{ $git_tag := "0.74.0" }}

{{ define "linux-amd64" }}
	url = "https://github.com/junegunn/fzf/releases/download/v{{ .git_tag }}/fzf-{{ .git_tag }}-linux_amd64.tar.gz"
	checksum.sha512 = "d711f2a891a6fcf3e4c7d498595fd442f45a93707b40734e300eac544de993f27776262bcf1ed0aa35282b898f33dbf108690175a10003702118a8ba038209de"
{{ end }}

# ARM 64bit also called arm64, aarch64, armv8
{{ define "linux-arm64" }}
	url = "https://github.com/junegunn/fzf/releases/download/v{{ .git_tag }}/fzf-{{ .git_tag }}-linux_arm64.tar.gz"
	checksum.sha512 = "70c13578be4ef8750d66ba88598b94c51f6c822c79584e1ef08312bb2ff9ae30f7170385e2c27a4eaae463597d4ba029dbf13ff3cd6bfd62d412027557bde8db"
{{ end }}

{{ define "android-arm64" }}
	url = "https://github.com/junegunn/fzf/releases/download/v{{ .git_tag }}/fzf-{{ .git_tag }}-android_arm64.tar.gz"
	checksum.sha512 = "d286ce4858f5418717bde1db0be82742f3880086033ba16b5ad10e0b13c64e06f4885f2f9b4e4cf43cac2e727bbd5cc5a597ab713063e645ff45b66e33c1afa8"
{{ end }}

{{ define "binary" }}
	{{ if eq .chezmoi.os "linux" }}
		{{ if eq .chezmoi.arch "amd64" }}
			{{ template "linux-amd64" (dict "git_tag" .git_tag) }}
		{{ else if eq .chezmoi.arch "arm64" }}
			{{ template "linux-arm64" (dict "git_tag" .git_tag) }}
		{{ end }}
	{{ else if eq .chezmoi.os "android" . }}
		{{ if eq .chezmoi.arch "arm64" }}
			{{ template "android-arm64" (dict "git_tag" .git_tag) }}
		{{ end }}
	{{ end }}
{{ end }}

{{ define "sources" }}
	url = "https://github.com/junegunn/fzf/archive/refs/tags/v{{ .git_tag }}.tar.gz"
	checksum.sha512sum = "fcb92556b9350127828bebe76cda4798ac625e3fa472f03cb162b68b316f91e96a78ef6c641a8cbf0aaddb6d036574be73305cad923948ba8905a6ea837841f4"
{{ end }}

{{ if and (has .chezmoi.os $supported_os) (has .chezmoi.arch $supported_arch) }}

# Fzf
[".local/bin/fzf"]
	type = "archive-file"
	path = "fzf"
	{{ template "binary" (dict "chezmoi" .chezmoi "git_tag" $git_tag) }}
	executable = true
[".local/bin/fzf-tmux"]
	type = "archive-file"
	path = "bin/fzf-tmux"
	{{ template "sources" (dict "git_tag" $git_tag) }}
	executable = true
	stripComponents = 1
[".local/man"]
	type = "archive"
	include = ["fzf-*/man/**"]
	{{ template "sources" (dict "git_tag" $git_tag) }}
	stripComponents = 2
[".vim/pack/chezmoi/start/fzf/plugin/fzf.vim"]
	type = "archive-file"
	path = "plugin/fzf.vim"
	{{ template "sources" (dict "git_tag" $git_tag) }}
	stripComponents = 1
[".vim/pack/chezmoi/start/fzf/doc/fzf.txt"]
	type = "archive-file"
	path = "doc/fzf.txt"
	{{ template "sources" (dict "git_tag" $git_tag) }}
	stripComponents = 1

{{ end }}

# Not completion of fzf itself but for <cmd> **TAB
[".bashrc.vendor.d/additional/fzf/shell/completion.bash"]
	type = "archive-file"
	path = "shell/completion.bash"
	{{ template "sources" (dict "git_tag" $git_tag) }}
	stripComponents = 1
[".bashrc.vendor.d/additional/fzf/shell/key-bindings.bash"]
	type = "archive-file"
	path = "shell/key-bindings.bash"
	{{ template "sources" (dict "git_tag" $git_tag) }}
	stripComponents = 1
[".config/fish/functions/fzf_key_bindings.fish"]
	type = "archive-file"
	path = "shell/key-bindings.fish"
	{{ template "sources" (dict "git_tag" $git_tag) }}
	stripComponents = 1

# vim: filetype=toml
