{{/* Linux Go binaries could run on android, but android has blocked some syscalls (faccessat2) */}}
{{/* therefore special binaries built with GOOS=android are required. So android is not supported by default */}}
{{ $supported_os := list "linux" "android" }}
{{ $supported_arch := list "amd64" "arm64" }}

{{ $git_tag := "0.66.1" }}

{{ define "linux-amd64" }}
	url = "https://github.com/junegunn/fzf/releases/download/v{{ .git_tag }}/fzf-{{ .git_tag }}-linux_amd64.tar.gz"
	checksum.sha512 = "3e0d994f0d5a38f34d728f819fea9bb59978a8c87ce673004340a9492ffca7c3acf1a40aea60912ed6c24e00dca2736eaed67b7ba20b037f4b57a8a37dcc7e0c"
{{ end }}

# ARM 64bit also called arm64, aarch64, armv8
{{ define "linux-arm64" }}
	url = "https://github.com/junegunn/fzf/releases/download/v{{ .git_tag }}/fzf-{{ .git_tag }}-linux_arm64.tar.gz"
	checksum.sha512 = "ccb62ed34fe29b233fbb5429f7dc9049b6882cfb5381d58f0f295879bf7f04539325383ac5e17cda0563d2500dad669ad43c1c9923b259085a65d0b339912cfa"
{{ end }}

{{ define "android-arm64" }}
	url = "https://github.com/junegunn/fzf/releases/download/v{{ .git_tag }}/fzf-{{ .git_tag }}-android_arm64.tar.gz"
	checksum.sha512 = "a00be371514fb04d77889be54f40357aa4949cb243eb39134198b72aedb9a33f95d06b4c6a707419365694b458cfa9948a59bb47a6921d634a814ca6497b018b"
{{ end }}

{{ define "binary" }}
	{{ if eq .chezmoi.os "linux" }}
		{{ if eq .chezmoi.arch "amd64" }}
			{{ template "linux-amd64" (dict "git_tag" .git_tag) }}
		{{ else if eq .chezmoi.arch "arm64" }}
			{{ template "linux-arm64" (dict "git_tag" .git_tag) }}
		{{ end }}
	{{ else if eq .chezmoi.os "android" . }}
		{{ if eq .chezmoi.arch "arm64" }}
			{{ template "android-arm64" (dict "git_tag" .git_tag) }}
		{{ end }}
	{{ end }}
{{ end }}

{{ define "sources" }}
	url = "https://github.com/junegunn/fzf/archive/refs/tags/v{{ .git_tag }}.tar.gz"
	checksum.sha512sum = "84e01d2f852e0d90b2a30342f7ad9a30e4e287688f6063efc2a0f602eab5ec064819efecd2041f46869bb1956b3d3eb50e98084deeaa26272c3bbafd000648f7"
{{ end }}

{{ if and (has .chezmoi.os $supported_os) (has .chezmoi.arch $supported_arch) }}

# Fzf
[".local/bin/fzf"]
	type = "archive-file"
	path = "fzf"
	{{ template "binary" (dict "chezmoi" .chezmoi "git_tag" $git_tag) }}
	executable = true
[".local/bin/fzf-tmux"]
	type = "archive-file"
	path = "bin/fzf-tmux"
	{{ template "sources" (dict "git_tag" $git_tag) }}
	executable = true
	stripComponents = 1
[".local/man"]
	type = "archive"
	include = ["fzf-*/man/**"]
	{{ template "sources" (dict "git_tag" $git_tag) }}
	stripComponents = 2

{{ end }}

# Not completion of fzf itself but for <cmd> **TAB
[".bashrc.d/additional/fzf/shell/completion.bash"]
	type = "archive-file"
	path = "shell/completion.bash"
	{{ template "sources" (dict "git_tag" $git_tag) }}
	stripComponents = 1
[".bashrc.d/additional/fzf/shell/key-bindings.bash"]
	type = "archive-file"
	path = "shell/key-bindings.bash"
	{{ template "sources" (dict "git_tag" $git_tag) }}
	stripComponents = 1
[".config/fish/functions/fzf_key_bindings.fish"]
	type = "archive-file"
	path = "shell/key-bindings.fish"
	{{ template "sources" (dict "git_tag" $git_tag) }}
	stripComponents = 1

# vim: filetype=toml
