{{/* Goph is used to apply selenized themes on all kinds of terminals */}}

{{ if and (not .headless) (lookPath "bash") }}
{{ $git_hash := "ff76ba705032dfec9058eceb9be084223d9d6ca6" }}

[".local/libexec/gogh/apply-colors.sh"]
	type = "file"
	# source: https://github.com/Gogh-Co/Gogh/blob/master/apply-colors.sh
	# applied version is few commits after release v275
	url  = "https://github.com/Gogh-Co/Gogh/raw/{{ $git_hash }}/apply-colors.sh"
	checksum.sha512 = "f104ed79c41bc8ab7c3d8d4e11d793dfcd38d56ae408bd146530b723f7641e70297db0b196609e422ba5157a4344463c6073e12edd6ae6f5abc1371e47273fcc"

[".local/libexec/gogh/selenized-black.sh"]
	type = "file"
	# source: https://github.com/Gogh-Co/Gogh/blob/master/installs/selenized-black.sh
	url  = "https://github.com/Gogh-Co/Gogh/raw/{{ $git_hash }}/installs/selenized-black.sh"
	checksum.sha512 = "79ff52c0ab6cb8b66cb51eb5f79b3f282cf6e566318d66cf8d655de31f2a5f9a4d811d01bfd960bbb6298e1478ee3446a16248323025f3b354a763f6cd9d3bff"
	executable = true

[".local/libexec/gogh/selenized-white.sh"]
	type = "file"
	# source: https://github.com/Gogh-Co/Gogh/blob/master/installs/selenized-white.sh
	url  = "https://github.com/Gogh-Co/Gogh/raw/{{ $git_hash }}/installs/selenized-white.sh"
	checksum.sha512 = "f79e61820be5c36f6b2df790043675db3083af703de8e4faec2d5b8606ac8d5061417fe8eff00a3e3a9330a2399df4f34b0cbc9ae9187d8c138c39cec7e64c9e"
	executable = true

[".local/libexec/gogh/selenized-dark.sh"]
	type = "file"
	# source: https://github.com/Gogh-Co/Gogh/blob/master/installs/selenized-dark.sh
	url  = "https://github.com/Gogh-Co/Gogh/raw/{{ $git_hash }}/installs/selenized-dark.sh"
	checksum.sha512 = "8be9269f4d0ae476d616ebfcb83582d9112da17185b00ae19dd7c4385301a1fa528221e17520409ccf9808295af5d0b11ecb692e320f17cc45eaad6224f3287e"
	executable = true

[".local/libexec/gogh/selenized-light.sh"]
	type = "file"
	# source: https://github.com/Gogh-Co/Gogh/blob/master/installs/selenized-light.sh
	url  = "https://github.com/Gogh-Co/Gogh/raw/{{ $git_hash }}/installs/selenized-light.sh"
	checksum.sha512 = "0440fad850cf0e5495beeb3ce34287bdd57014dedcd12d559e05eba19a1532ce5ead8ca3bdfb00d1e4e6e137dd45de5e837c5a28936a15e1a6ef9af24faaa4b7"
	executable = true

{{ end }}

# vim: filetype=toml
