{{/* Linux Go binaries could run on android, but android has blocked some syscalls (faccessat2) */}}
{{/* therefore special binaries built with GOOS=android are required. So android is not supported by default */}}
{{ $supported_os := list "linux" }}
{{ $supported_arch := list "amd64" "arm64" }}

{{ define "amd64" }}
	url = "https://github.com/itchyny/gojq/releases/download/v0.12.17/gojq_v0.12.17_linux_amd64.tar.gz"
	checksum.sha512 = "ddc140f078af1ea15c0744c235e4922e339e97d3b1a969c96fe2c1e609346a8e78aaaa5a954b987a4e55234c884869147fe98787151ba72fae80002e672afcb9"
{{ end }}

# ARM 64bit also called arm64, aarch64, armv8
{{ define "arm64" }}
	url = "https://github.com/itchyny/gojq/releases/download/v0.12.17/gojq_v0.12.17_linux_arm64.tar.gz"
	checksum.sha512 = "17636f2309fd92af08060c8b3ae98d793c6c1d2136d94219cfe0846b0ec9c74485eb54171c6999c018b0e08c62439d03dc11055a198860a5f5d577c8e1ca8a69"
{{ end }}

{{ define "binary" }}
	{{ if eq .chezmoi.arch "amd64" }}
		{{ template "amd64" }}
	{{ else if eq .chezmoi.arch "arm64" }}
		{{ template "arm64" }}
	{{ end }}
{{ end }}

{{ if and (has .chezmoi.os $supported_os) (has .chezmoi.arch $supported_arch) }}

[".local/bin/gojq"]
	type = "archive-file"
	path = "gojq"
	{{ template "binary" . }}
	executable = true
	stripComponents = 1

{{ end }}

# vim: filetype=toml
