{{/* Linux Go binaries could run on android, but android has blocked some syscalls (faccessat2) */}}
{{/* therefore special binaries built with GOOS=android are required. So android is not supported by default */}}
{{ $supported_os := list "linux" }}
{{ $supported_arch := list "amd64" "arm64" }}
{{ $tag := "v0.12.19" }}

{{ define "amd64" }}
	url = "https://github.com/itchyny/gojq/releases/download/{{ .tag }}/gojq_{{ .tag }}_linux_amd64.tar.gz"
	checksum.sha512 = "b80a9e34e45437a5334a31cf9378aeef147d5a97a65746ae0af69aa720b73ad7839f061a9dbb36445ab4910ca7dc2dd75ccc46e84630757d232c31bb2bdcb839"
{{ end }}

# ARM 64bit also called arm64, aarch64, armv8
{{ define "arm64" }}
	url = "https://github.com/itchyny/gojq/releases/download/{{ .tag }}/gojq_{{ .tag }}_linux_arm64.tar.gz"
	checksum.sha512 = "4dd9c5a26c3efbc15c8ee9dd5183520b8d96e447f44ec30d40b3c95abee86ee62febc9c010d19522ffa213871fbee3f11f4417a8c5286cc471787da33d0886d6"
{{ end }}

{{ define "binary" }}
	{{ if eq .chezmoi.arch "amd64" }}
		{{ template "amd64" . }}
	{{ else if eq .chezmoi.arch "arm64" }}
		{{ template "arm64" . }}
	{{ end }}
{{ end }}

{{ if and (has .chezmoi.os $supported_os) (has .chezmoi.arch $supported_arch) }}

[".local/bin/gojq"]
	type = "archive-file"
	path = "gojq"
	{{ template "binary" (dict "tag" $tag "chezmoi" .chezmoi ) }}
	executable = true
	stripComponents = 1

{{ end }}

# vim: filetype=toml
