{{/* Linux Go binaries could run on android, but android has blocked some syscalls (faccessat2) */}}
{{/* therefore special binaries built with GOOS=android are required. So android is not supported by default */}}
{{ $supported_os := list "linux" }}
{{ $supported_arch := list "amd64" "arm64" }}

# source: https://github.com/rclone/rclone

{{ define "amd64" }}
	url = "https://github.com/rclone/rclone/releases/download/v1.71.2/rclone-v1.71.2-linux-amd64.zip"
	checksum.sha512 = "29608575a642f7e564bfab4a498e0bd11aed59fb3dfec94cfe51f3799f64672124ed5fa8da36b3298219733fd0907317a196a5ab10ed10d8c56a54d0ba762115"
{{ end }}

# ARM 64bit also called arm64, aarch64, armv8
{{ define "arm64" }}
	url = "https://github.com/rclone/rclone/releases/download/v1.71.2/rclone-v1.71.2-linux-arm64.zip"
	checksum.sha512 = "effc3aa3003542e4227a3d85f9aac6316fff1367b70229d0a6bafeeb03ec0f2d8892f8b3df46b0520e0f4d20e50509fda1b3bf7f5a584241458b6139d11e3347"
{{ end }}

{{ define "sources" }}
	{{ if eq .chezmoi.arch "amd64" }}
		{{ template "amd64" }}
	{{ else if eq .chezmoi.arch "arm64" }}
		{{ template "arm64" }}
	{{ end }}
{{ end }}

{{ if and (has .chezmoi.os $supported_os) (has .chezmoi.arch $supported_arch) }}

# Rclone
[".local/bin/rclone"]
	type = "archive-file"
	path = "rclone"
	{{ template "sources" . }}
	stripComponents = 1
	executable = true
[".local/man/man1/rclone.1"]
	type = "archive-file"
	path = "rclone.1"
	{{ template "sources" . }}
	stripComponents = 1

{{ end }}

# vim: filetype=toml
