{{/* Linux Go binaries could run on android, but android has blocked some syscalls (faccessat2) */}}
{{/* therefore special binaries built with GOOS=android are required. So android is not supported by default */}}
{{ $supported_os := list "linux" }}
{{ $supported_arch := list "amd64" "arm64" }}
{{ $tag := "v1.75.0" }}

# source: https://github.com/rclone/rclone

{{ define "amd64" }}
	url = "https://github.com/rclone/rclone/releases/download/{{ .tag }}/rclone-{{ .tag }}-linux-amd64.zip"
	checksum.sha512 = "de73b704cd74b4a6d1a4b343034a2cf40f9e07e489cc005187fd422644592a9cda1ed5fda9e47135b5236f5315b55225072c37bfc0c1db1a42e937c2d3782d70"
{{ end }}

# ARM 64bit also called arm64, aarch64, armv8
{{ define "arm64" }}
	url = "https://github.com/rclone/rclone/releases/download/{{ .tag }}/rclone-{{ .tag }}-linux-arm64.zip"
	checksum.sha512 = "5bb52d9e5f14c241f7346a8b8efc53e8ef021ef192f3728ca1d03f82955002e18c14a78eb4d5dd2386afb9454cb2003408d13d5e34bf0f74f70a356e76a27011"
{{ end }}

{{ define "sources" }}
	{{ if eq .chezmoi.arch "amd64" }}
		{{ template "amd64" . }}
	{{ else if eq .chezmoi.arch "arm64" }}
		{{ template "arm64" . }}
	{{ end }}
{{ end }}

{{ if and (has .chezmoi.os $supported_os) (has .chezmoi.arch $supported_arch) }}

# Rclone
[".local/bin.vendor.d/rclone"]
	type = "archive-file"
	path = "rclone"
	{{ template "sources" (dict "tag" $tag "chezmoi" .chezmoi) }}
	stripComponents = 1
	executable = true
[".local/man/man1/rclone.1"]
	type = "archive-file"
	path = "rclone.1"
	{{ template "sources" (dict "tag" $tag "chezmoi" .chezmoi) }}
	stripComponents = 1

{{ end }}

# vim: filetype=toml
