{{ if not .headless }}

[".config/rofi/theme.rasi"]
	# source: https://github.com/jan-warchol/selenized
	type = "file"
	url  = "https://github.com/jan-warchol/selenized/raw/7188d68b6bb5a8be8f83d216c3f42727f0fdacf2/other-apps/rofi/selenized-white.rasi"
	checksum.sha512 = "6c7a9410bb7347c215f2e74be07cc518800398987eea4bbad7e0e89ac67c0fc486295d47806a7a3c46d8ee80d98a00bc116918c2d5228e2e2b15ca2ca9d25348"

{{ end }}

# vim: filetype=toml
