{{ define "amd64" }}
	url = "https://github.com/kiyoon/tmux-appimage/releases/download/3.5a/tmux.appimage"
	checksum.sha512 = "b4d62af9347f0f74b9a5ae8393830c37cc84a688978e5a903594c10d4a76b7accf02b9f2a9229c5c8a9fe7debf4e5c04573356ecfecc6a6a5ecad629134ecaff"
{{ end }}

{{ define "sources" }}
	{{ if eq .chezmoi.arch "amd64" }}
		{{ template "amd64" }}
	{{ end }}
{{ end }}

{{ if and (.appimage) (eq .chezmoi.arch "amd64") }}

# Tmux
[".local/bin/.AppImages/tmux.AppImage"]
	# source: https://github.com/kiyoon/tmux-appimage
	type = "file"
	{{ template "sources" . }}
	executable = true

{{ end }}

# vim: filetype=toml
