{{ define "amd64" }}
	url = "https://github.com/vim/vim-appimage/releases/download/v9.2.0758/Vim-v9.2.0758.glibc2.34-x86_64.AppImage"
	checksum.sha512 = "e56d318cb2e92c3cc4a6a00dbd464bbd8337117c89b462d3cce37b1a683eec1c21a7b3ebf8e871964fe05b28437d3c40dd7694d3e200e9948aa3c68fcbe4108d"
{{ end }}

{{ define "sources" }}
	{{ if eq .chezmoi.arch "amd64" }}
		{{ template "amd64" }}
	{{ end }}
{{ end }}

{{ if and (.appimage) (eq .chezmoi.arch "amd64") }}

# Vim
[".local/bin/.AppImages/vim.AppImage"]
	# source: https://github.com/vim/vim-appimage
	type = "file"
	{{ template "sources" . }}
	executable = true

{{ end }}

# source: https://github.com/jan-warchol/selenized
{{ $selenized_git_hash := "9a753d5c575c48e29eeb2be745d9571b4cec42b3" }}

[".vim/pack/chezmoi/opt/selenized/colors/selenized.vim"]
	type = "file"
	url  = "https://raw.githubusercontent.com/jan-warchol/selenized/{{ $selenized_git_hash }}/editors/vim/colors/selenized.vim"
	checksum.sha512 = "4e2c723fa03eea91412b3240937decc841d1c8e4495d5e4b73eecd6b7f0641c80c1b483695cde262101493d30810225e01849b5dc6403db26b540ea97f846d32"

[".vim/pack/chezmoi/opt/selenized/colors/selenized_bw.vim"]
	type = "file"
	url  = "https://raw.githubusercontent.com/jan-warchol/selenized/{{ $selenized_git_hash }}/editors/vim/colors/selenized_bw.vim"
	checksum.sha512 = "d3ba586518f4b51f2705cabb6692ba46c677ff075ee4e22d4ba4985b35e0b3e9673df7fda75ae100e91f2c869313848325f5b556f90df5a2bb6c26ce24fcb365"

# source: https://github.com/k-takata/minpac
{{ $minpac_git_hash := "7a616ad2393139dbdf7514c14606098404e38625" }}

[".vim/pack/chezmoi/opt/minpac"]
	type = "archive"
	url  = "https://github.com/k-takata/minpac/archive/{{ $minpac_git_hash }}.tar.gz"
	checksum.sha512 = "b7fb2d3266fbe5ab839069c23fc9b3d103517629fb2befc04a5cbd15e7452b9256adf433bb14469da3682eb9d2eb4d5d5803eccf88956f5dc3165d105be84892"
	stripComponents = 1
	exact = true

# vim: filetype=toml
