{{ define "amd64" }}
	url = "https://github.com/vim/vim-appimage/releases/download/v9.1.1912/Vim-v9.1.1912.glibc2.34-x86_64.AppImage"
	checksum.sha512 = "55addf3c7bfb1217eced18af590afbd4738b516f585b08b117dc7cd861b628fa402b08c0558534b3f5a8e12d5e2188b66222eced9cd093d1ed4beb18ecd63209"
{{ end }}

{{ define "sources" }}
	{{ if eq .chezmoi.arch "amd64" }}
		{{ template "amd64" }}
	{{ end }}
{{ end }}

{{ if and (.appimage) (eq .chezmoi.arch "amd64") }}

# Vim
[".local/bin/.AppImages/vim.AppImage"]
	# source: https://github.com/vim/vim-appimage
	type = "file"
	{{ template "sources" . }}
	executable = true

{{ end }}

# vim: filetype=toml
