{{ $supported_os := list "linux" "android" }}
{{ $supported_arch := list "amd64" "arm64" }}

# source: https://github.com/ajeetdsouza/zoxide

{{ $version := "0.9.8" }}

{{ define "linux-amd64" }}
	url = "https://github.com/ajeetdsouza/zoxide/releases/download/v{{ .version }}/zoxide-{{ .version }}-x86_64-unknown-linux-musl.tar.gz"
	checksum.sha512 = "106323b4572f4e609ef7312119c13ee3cffab02b9af804c3584993d75056960991845ddb1205e5da9a66e4d0d48806bda9ff7451231950c36b0bee4ee92cd3d0"
{{ end }}

# ARM 64bit also called arm64, aarch64, armv8
{{ define "linux-arm64" }}
	url = "https://github.com/ajeetdsouza/zoxide/releases/download/v{{ .version }}/zoxide-{{ .version }}-aarch64-unknown-linux-musl.tar.gz"
	checksum.sha512 = "0f5de55ee004ca26cd817a75bf26837972649a70933a6ecc8e96b2f85ec6a32f87b8e994a0281de7ae75b1bc4563f18ff83671b309afbe0e073d1afb4b0f0f21"
{{ end }}

{{ define "android-arm64" }}
	url = "https://github.com/ajeetdsouza/zoxide/releases/download/v{{ .version }}/zoxide-{{ .version }}-aarch64-unknown-linux-musl.tar.gz"
	checksum.sha512 = "4be3e6087e4761225dd54c37fb1ffbb32a7f5d94be84eba0d6cfc090ab27288d075542d853597992d8d11569333fe80127c776f754e2e052bca5256eca7a5d90"
{{ end }}

{{ define "sources" }}
	{{ if eq .chezmoi.os "linux" }}
		{{ if eq .chezmoi.arch "amd64" }}
			{{ template "linux-amd64" (dict "version" .version) }}
		{{ else if eq .chezmoi.arch "arm64" }}
			{{ template "linux-arm64" (dict "version" .version) }}
		{{ end }}
	{{ else if eq .chezmoi.os "android" }}
		{{ if eq .chezmoi.arch "arm64" }}
			{{ template "android-arm64" (dict "version" .version) }}
		{{ end }}
	{{ end }}
{{ end }}

{{ if and (has .chezmoi.os $supported_os) (has .chezmoi.arch $supported_arch) }}

# Zoxide
[".local/bin/zoxide"]
	type = "archive-file"
	path = "zoxide"
	{{ template "sources" (dict "chezmoi" .chezmoi "version" $version) }}
	executable = true
[".local/man"]
	type = "archive"
	include = ["man/**"]
	{{ template "sources" (dict "chezmoi" .chezmoi "version" $version) }}
	stripComponents = 1

{{ end }}

[".local/share/bash-completion/completions/zoxide.bash"]
	type = "archive-file"
	path = "completions/zoxide.bash"
	{{ template "sources" (dict "chezmoi" .chezmoi "version" $version) }}
[".config/fish/completions/zoxide.fish"]
	type = "archive-file"
	path = "completions/zoxide.fish"
	{{ template "sources" (dict "chezmoi" .chezmoi "version" $version) }}

# vim: filetype=toml
