{{ $supported_os := list "linux" "android" }}
{{ $supported_arch := list "amd64" "arm64" }}

# source: https://github.com/ajeetdsouza/zoxide

{{ $version := "0.10.0" }}

{{ define "linux-amd64" }}
	url = "https://github.com/ajeetdsouza/zoxide/releases/download/v{{ .version }}/zoxide-{{ .version }}-x86_64-unknown-linux-musl.tar.gz"
	checksum.sha512 = "abe50c6be799a3da2a8169b2ef0ddcb0b0437d400a44af33d5cb614d36aa8edf68255fe6b99a8f7639f5fbc95f20b5613fba52c7b2a2343382e450d3e9f728fb"
{{ end }}

# ARM 64bit also called arm64, aarch64, armv8
{{ define "linux-arm64" }}
	url = "https://github.com/ajeetdsouza/zoxide/releases/download/v{{ .version }}/zoxide-{{ .version }}-aarch64-unknown-linux-musl.tar.gz"
	checksum.sha512 = "a5d08aaa4d548a1a1e44cb4dfd37573c48f81e31c1dde0b302e960860054ae8e130ae1321acc3ca370f565b14a702ef2acc762446821adebaca52447376005d7"
{{ end }}

{{ define "android-arm64" }}
	url = "https://github.com/ajeetdsouza/zoxide/releases/download/v{{ .version }}/zoxide-{{ .version }}-aarch64-linux-android.tar.gz"
	checksum.sha512 = "8d3e2432f23eaf194a67d2f439b4cc2b2856913f49acd36ed5ee23d799109052c9d0974bd67f4869f01ecdbb444f6263884d03531f58c32128d0d85b6dad63af"
{{ end }}

{{ define "sources" }}
	{{ if eq .chezmoi.os "linux" }}
		{{ if eq .chezmoi.arch "amd64" }}
			{{ template "linux-amd64" (dict "version" .version) }}
		{{ else if eq .chezmoi.arch "arm64" }}
			{{ template "linux-arm64" (dict "version" .version) }}
		{{ end }}
	{{ else if eq .chezmoi.os "android" }}
		{{ if eq .chezmoi.arch "arm64" }}
			{{ template "android-arm64" (dict "version" .version) }}
		{{ end }}
	{{ end }}
{{ end }}

{{ if and (has .chezmoi.os $supported_os) (has .chezmoi.arch $supported_arch) }}

# Zoxide
[".local/bin.vendor.d/zoxide"]
	type = "archive-file"
	path = "zoxide"
	{{ template "sources" (dict "chezmoi" .chezmoi "version" $version) }}
	executable = true
[".local/man"]
	type = "archive"
	include = ["man/**"]
	{{ template "sources" (dict "chezmoi" .chezmoi "version" $version) }}
	stripComponents = 1

{{ end }}

[".local/share/bash-completion/completions/zoxide.bash"]
	type = "archive-file"
	path = "completions/zoxide.bash"
	{{ template "sources" (dict "chezmoi" .chezmoi "version" $version) }}
[".config/fish/completions/zoxide.fish"]
	type = "archive-file"
	path = "completions/zoxide.fish"
	{{ template "sources" (dict "chezmoi" .chezmoi "version" $version) }}

# vim: filetype=toml
