{{ $supported_os := list "linux" "android" }}
{{ $supported_arch := list "amd64" "arm64" }}

# source: https://github.com/ajeetdsouza/zoxide

{{ $version := "0.9.9" }}

{{ define "linux-amd64" }}
	url = "https://github.com/ajeetdsouza/zoxide/releases/download/v{{ .version }}/zoxide-{{ .version }}-x86_64-unknown-linux-musl.tar.gz"
	checksum.sha512 = "f1a310b8b3e243426957fcbcb4d7b360a810a6ff12efa6c53d07cbe9435d65cbdcb6ab5f57123a60921822bb12023926ceade887ce1fd66eaaa45feed5e31ce7"
{{ end }}

# ARM 64bit also called arm64, aarch64, armv8
{{ define "linux-arm64" }}
	url = "https://github.com/ajeetdsouza/zoxide/releases/download/v{{ .version }}/zoxide-{{ .version }}-aarch64-unknown-linux-musl.tar.gz"
	checksum.sha512 = "6643bbb7d714d662a3b8405d841f1a3dc64d38b3ed4f5a7f941b9dcb7ad7973aea4adb473e86c5908a94f10df70df924cc18735438a3e2c0d030a2329594c189"
{{ end }}

{{ define "android-arm64" }}
	url = "https://github.com/ajeetdsouza/zoxide/releases/download/v{{ .version }}/zoxide-{{ .version }}-aarch64-linux-android.tar.gz"
	checksum.sha512 = "157f20eb61826bbfc06a342fb8ee73146bd965896d17d8a1dc5ec1bb4f01c58e0ec92b62e5098526c9742d129a168553a3251b755802a9a655a18b027e4a575c"
{{ end }}

{{ define "sources" }}
	{{ if eq .chezmoi.os "linux" }}
		{{ if eq .chezmoi.arch "amd64" }}
			{{ template "linux-amd64" (dict "version" .version) }}
		{{ else if eq .chezmoi.arch "arm64" }}
			{{ template "linux-arm64" (dict "version" .version) }}
		{{ end }}
	{{ else if eq .chezmoi.os "android" }}
		{{ if eq .chezmoi.arch "arm64" }}
			{{ template "android-arm64" (dict "version" .version) }}
		{{ end }}
	{{ end }}
{{ end }}

{{ if and (has .chezmoi.os $supported_os) (has .chezmoi.arch $supported_arch) }}

# Zoxide
[".local/bin.vendor.d/zoxide"]
	type = "archive-file"
	path = "zoxide"
	{{ template "sources" (dict "chezmoi" .chezmoi "version" $version) }}
	executable = true
[".local/man"]
	type = "archive"
	include = ["man/**"]
	{{ template "sources" (dict "chezmoi" .chezmoi "version" $version) }}
	stripComponents = 1

{{ end }}

[".local/share/bash-completion/completions/zoxide.bash"]
	type = "archive-file"
	path = "completions/zoxide.bash"
	{{ template "sources" (dict "chezmoi" .chezmoi "version" $version) }}
[".config/fish/completions/zoxide.fish"]
	type = "archive-file"
	path = "completions/zoxide.fish"
	{{ template "sources" (dict "chezmoi" .chezmoi "version" $version) }}

# vim: filetype=toml
