{{- $colorscheme := "default" -}}
{{- if or (eq .colorscheme "selenized_light") (eq .colorscheme "selenized_dark") -}}
  {{- $colorscheme = "selenized" -}}
{{- else if or (eq .colorscheme "selenized_white") (eq .colorscheme "selenized_black") -}}
  {{- $colorscheme = "selenized_bw" -}}
{{- end -}}

{{- $background := "light" -}}
{{- if or (eq .colorscheme "selenized_light") (eq .colorscheme "selenized_white") -}}
  {{- $background = "light" -}}
{{- else if or (eq .colorscheme "selenized_dark") (eq .colorscheme "selenized_black") -}}
  {{- $background = "dark" -}}
{{- end -}}


" When started as 'evim', evim.vim will already have done these settings, bail out.
if v:progname =~? 'evim'
  finish
endif

" Get the defaults that most users want.
source $VIMRUNTIME/defaults.vim

" Not necessary for .vimrc on normal Vim launch, but is required Vim with
" specified configuration file, e.g. `vim -u .vimrc`
if &compatible
	" Set nocompatible only when its not set, to avaid its side-effects
	set nocompatible
endif

" Generate helptags for plugins installed via minpac,
" only required for plugins of type: 'opt'
function! s:minpac_gen_helptags(hooktype, name)
	execute 'helptags' minpac#getpluginfo(a:name).dir . '/doc'
endfunction

silent! packadd chezmoi.vim " chezmoi vim plugin might not yet be installed, therefore ignore error messages if not found
packadd minpac

if exists('g:loaded_minpac')
	" Installing Vim plugins using minpac
	call minpac#init()
	call minpac#add('https://github.com/alker0/chezmoi.vim.git',     { 'rev': '7a498ea65f658993237fb0469001bdf71f68cf94', 'type': 'opt' })
	call minpac#add('https://github.com/bfrg/vim-c-cpp-modern.git',  { 'rev': 'b194a25209ed99ae73175cc5cbc94b2d5684f657' })
	call minpac#add('https://github.com/easymotion/vim-easymotion',  { 'rev': 'b3cfab2a6302b3b39f53d9fd2cd997e1127d7878', 'type': 'opt' })
	call minpac#add('https://github.com/junegunn/fzf.vim.git',       { 'rev': 'd2a59a992a2455f609c0fde2ebd84427ea8f919a' })
	call minpac#add('https://github.com/mg979/vim-visual-multi.git', { 'rev': 'a6975e7c1ee157615bbc80fc25e4392f71c344d4', 'type': 'opt' })
	call minpac#add('https://github.com/mhinz/vim-signify.git',      { 'rev': '3b5ae37eb2b77c3ae58d60dfdc3fc30258078663' })
	call minpac#add('https://github.com/nanotee/zoxide.vim.git',     { 'rev': '520d1abeb71ba42989a842251f8ba5c46be89aab' })
	call minpac#add('https://github.com/preservim/nerdtree.git',     { 'rev': '690d061b591525890f1471c6675bcb5bdc8cdff9', 'type': 'opt' })
	call minpac#add('https://github.com/takac/vim-hardtime.git',     { 'rev': '91177392e9372a1cf09a4b9b79532d2490bd405f' })
	call minpac#add('https://github.com/tpope/vim-eunuch.git',       { 'rev': 'e86bb794a1c10a2edac130feb0ea590a00d03f1e' })
	call minpac#add('https://github.com/tpope/vim-fugitive.git',     { 'rev': '3b753cf8c6a4dcde6edee8827d464ba9b8c4a6f0' })
	call minpac#add('https://github.com/unblevable/quick-scope.git', { 'rev': '6cee1d9e0b9ac0fbffeb538d4a5ba9f5628fabbc', 'type': 'opt' })
	call minpac#add('https://github.com/wellle/context.vim.git',     { 'rev': 'b779a19653e94d4a7d6e668f1d71e48de34591fa' })

	" Define custom vim plugin manager (minpac) commands wrappers
	command PackInstall call minpac#update('', {'do': 'helptags ALL'})
	command PackClean  call minpac#clean()
	command PackStatus call minpac#status()
	command PackPurge  call delete(minpac#opt.minpac_dir, 'rf') | call minpac#clean()
endif

if has('vms')
  set nobackup  " do not keep a backup file, use versions instead
else
  set backup    " keep a backup file (restore to previous version)
  let backup_dir = expand('~/.vim') . '/backupdir'
  if !isdirectory(backup_dir)
    call mkdir(backup_dir, 'p')
  endif
  let &backupdir = backup_dir . '//'
  if has('persistent_undo')
    let undo_dir = expand('~/.vim') . '/undodir'
    set undofile  " keep an undo file (undo changes after closing)
    if !isdirectory(undo_dir)
      call mkdir(undo_dir, 'p')
    endif
    let &undodir = undo_dir . '//'
  endif
endif

if &t_Co > 2 || has('gui_running')
  " Switch on highlighting the last used search pattern.
  set hlsearch
endif

" Put these in an autocmd group, so that we can delete them easily.
augroup vimrcEx
  au!

  " For all text files set 'textwidth' to 78 characters.
  autocmd FileType text setlocal textwidth=78
augroup END

" Add optional packages.
"
" The matchit plugin makes the % command work better, but it is not backwards compatible.
" The ! means the package won't be loaded right away but when plugins are
" loaded during initialization.
if has('syntax') && has('eval')
  packadd! matchit
endif

" If terminal supports truecolor, make use of it
if has('termguicolors')
    \ && ($COLORTERM ==# 'truecolor' || $COLORTERM ==# '24bit')
    \ && empty($TMUX) && empty($STY) " tmux and screen do not support truecolor everywhere
  set termguicolors
else
  set t_Co=16
endif

" Make use of the wonderful Selenized theme
colorscheme {{ $colorscheme }}
set background={{ $background }}

" Disable that pesky mouse
set mouse=

" Display line numbers
set relativenumber number

" Fold based on syntax by default
set nofoldenable
set foldmethod=syntax

" Plugin configurations below

" Dynamically set chezmoi source dir
let g:chezmoi#source_dir_path = '{{ .chezmoi.sourceDir }}'

" Enable hardtime everywhere
let g:hardtime_default_on = 1
" Increase wait to 2s
let g:hardtime_default_on = 1
let g:hardtime_ignore_quickfix = 1
let g:hardtime_motion_with_count_resets = 1
let g:list_of_normal_keys = [";", ",", "n", "N", "h", "j", "k", "l", "-", "+", "w", "W", "b", "B", "e", "E", "ge", "gE", "x", "X", "[", "{", "(", ")", "}", "]" ]
let g:list_of_visual_keys = ["n", "N", "h", "j", "k", "l", "-", "+", "w", "W", "b", "B", "e", "E", "ge", "gE", "x", "X", "[", "{", "(", ")", "}", "]" ]
let g:list_of_insert_keys = ["<BS>"] " Use <C-h> instead
let g:list_of_disabled_keys = ["<UP>", "<DOWN>", "<LEFT>", "<RIGHT>"]
let g:hardtime_showmsg = 1

let g:fzf_layout = {'window': 'new'}

let g:zoxide_prefix = 'j'

let g:signify_sign_change = '~'

" vim: filetype=vim
