**/README*
**/LICENSE

# Note: external binaries included by .chezmoiexternals* should
# not be ignored by this file,
# instead their template should result to an empty file/entry
# on systems where the binary should not be installed
# (empty files are not added by chezmoi)

# Ignore dynamic/cache ble.sh directory from being inspected
.local/share/blesh/run/**

# Ignore these if no graphical environment is installed
{{ if .headless }}
	.local/bin.vendor.d/termfg
	.local/bin.vendor.d/openbrowser
	.local/bin.vendor.d/screenshot
	.local/bin.vendor.d/screensvr*
	.local/bin.vendor.d/setxkblayout
	.local/bin.vendor.d/pwr*
	.local/bin.vendor.d/qutebrowser-clean
	.local/bin.vendor.d/i3-*
	.local/bin.vendor.d/rofi-*
	.local/libexec/gogh
	.local/libexec/gogh/**
	.fonts
	.fonts/**
	.config/i3
	.config/i3/**
	.config/dunst
	.config/dunst/**
	.config/rofi
	.config/rofi/**
	.config/qutebrowser
	.config/qutebrowser/**
	.var
	.var/**
	.xsession
	.xinitrc
{{ end }}

# Prevent setting i3 session for remote desktop, if not installed
{{ if not (lookPath "i3") }}
	.xsession
	.xinitrc
{{ end }}

# Ignore symlinks which are used for AppImages,
# The underlying AppImages are architecture dependent,
# so don't create the symlinks for unsupport systems
# Also all AppImages are glibc dependent so make sure it is available
{{ if not .appimage }}
	.local/bin.vendor.d/.AppImageRunner
	.local/bin.vendor.d/tmux
	.local/bin.vendor.d/vim
{{ end }}

# Ignore generated helptag files
.vim/pack/chezmoi/**/tags
