# chezmoi's machine specific config file
#
# Here we determine and setup the required dotfiles for this specific machine
# For example: a server without a (graphical) X server won't require
# qutebrowser dotfiles, so we set a variable here that will be used in
# templates as parameter to exclude those files

{{/* Default values, should provide the bare minimum of dotfiles */}}
{{- $headless := true -}}
{{- $battery  := false -}}
{{- $wireless := false -}}
{{- $glibc    := false -}}

{{/* check if machine has graphical capabilities */}}
{{- if (or (lookPath "X") (lookPath "Xorg")) -}}
	{{- $headless = false -}}
{{- end -}}

{{/* Check if machine has a battery */}}
{{- if eq (output "sh" "-c" "test -r /sys/class/power_supply; printf ${?}") ("0") -}}
	{{- if gt (glob "/sys/class/power_supply/{B,b}*" | len) (0) -}}
		{{- $battery = true -}}
	{{- end -}}
{{- end -}}

{{/* Check if machine has a wireless NIC */}}
{{- if eq (output "sh" "-c" "test -r /sys/class/net; printf ${?}") ("0") -}}
	{{- range $nic := glob "/sys/class/net/*" -}}
		{{- if eq (output "sh" "-c" (cat "test -d" $nic "; printf ${?}")) ("0") -}}
			{{- if (joinPath $nic "/wireless" | stat) -}}
				{{- $wireless = true -}}
			{{- end -}}
		{{- end -}}
	{{- end -}}
{{- end -}}

{{/* Check if machine has glibc installed
   * Needed for glibc dependent binaries like most AppImages
   * Note: glibc ldconfig has --version flag, musl doesn't */}}
{{- if eq (output "sh" "-c" "ldconfig --version 1>/dev/null 2>&1; printf ${?}") ("0") -}}
	{{- $glibc = true -}}
{{- end -}}

{{/* Let user select preferred selenized colorscheme, if not headless */}}
{{- $colorscheme_choices := list "black" "white" "dark" "light" -}}
{{- $colorscheme := "light" -}}
{{- if eq $headless false -}}
	{{- $colorscheme = promptChoice "Selenized colorscheme to use: " $colorscheme_choices "light" -}}
{{- end -}}

{{/* Determine if system supports AppImages */}}
{{- $appimage_archs := list "amd64" -}}
{{- $appimage_os := list "linux" -}}
{{- $appimage := and (has .chezmoi.os $appimage_os) (has .chezmoi.arch $appimage_archs) (.glibc) -}}

{{/* Infos about current system */}}
# Current machine values detected by chezmoi v{{ .chezmoi.version.version }}
# hostname = {{ .chezmoi.hostname }}
# os       = {{ .chezmoi.os }}
{{- if eq .chezmoi.os "linux" }}
# kernel   = {{ .chezmoi.kernel.ostype }} {{ .chezmoi.kernel.osrelease }} {{ .chezmoi.kernel.version }}
{{- end }}
# arch     = {{ .chezmoi.arch }}
# user     = {{ .chezmoi.username }} ({{ .chezmoi.uid }})
# home     = {{ .chezmoi.homeDir }}

[data]
# Whether machine is without graphical environment (X server)
headless = {{ $headless }}
# Whether machine has a battery
battery  = {{ $battery }}
# Whether machine has a wireless device
wireless = {{ $wireless }}
# Whether glibc (standard C library) is installed (required for most AppImages)
# Binaries compiled with `musl` are compatible with `glibc` powered distros
# but glibc binaries are not compatible with musl distros (like Alpine Linux).
# So this variable can be used to ignore glibc dependent apps on musl systems
glibc    = {{ $glibc }}
appimage = {{ $appimage }}
# Select what theme to use for applications supporting theme selection/color changing
# Currently using Selenized theme only with vim, i3, rofi
# The user can select the colorscheme
# Available options:
# - white
# - light
# - black
# - dark
colorscheme = {{ $colorscheme | quote }}

# vim: filetype=toml
