[".config/rofi/theme.rasi"]
	type = "file"
	url  = "https://github.com/jan-warchol/selenized/raw/v1.0/other-apps/rofi/selenized-white.rasi"
	checksum.sha512 = "6c7a9410bb7347c215f2e74be07cc518800398987eea4bbad7e0e89ac67c0fc486295d47806a7a3c46d8ee80d98a00bc116918c2d5228e2e2b15ca2ca9d25348"
[".config/i3/theme.conf"]
	type = "file"
	url  = "https://github.com/jan-warchol/selenized/raw/v1.0/other-apps/i3/i3-selenized-black.conf"
	checksum.sha512 = "9d70b42aa3faea7d50f03f719f2056ec4bcc93761d8d0638e6571fe930ff12fb55f728c74367784ece8c6f788d4a31e076de18950c79e39ee7ea80b01a1056ee"
[".fonts/ComicMono-Nerd-Font.ttf"]
	type = "file"
	url  = "https://github.com/your-local-developer/comic-mono-nerd-font/raw/main/Comic%20Mono%20Nerd%20Font%20Complete.ttf"
	checksum.sha512 = "8ad4a6cb881115489d93b5cd2f5ea3ba468517ab53a3ea0c9e51ca38eae34468a6f86de8a1e8a5e5cbada8595782aa4d15cd202fbcabac228aa41e2c7620be5a"
[".fonts/ComicMono-Nerd-Font-Bold.ttf"]
	type = "file"
	url  = "https://github.com/your-local-developer/comic-mono-nerd-font/raw/main/Comic%20Mono%20Bold%20Nerd%20Font%20Complete.ttf"
	checksum.sha512 = "334d7edef1d9b6a530ff779d2cacd5c3d8796418acb9aa5a262850b78b4e403abafeafcb5ae6c0989e2222928b83e9e94ce04c73dcf3ec95c42ca57eff3e3c7a"
[".bin/i3-battery-popup"]
	type = "file"
	url  = "https://github.com/stablestud/i3-battery-popup/raw/master/i3-battery-popup"
	executable      = true
	# no checksum checking as this is my own repo/fork

# vim: filetype=toml
