**/README*
**/LICENSE

# Note: external binaries included by .chezmoiexternals* should
# not be ignored by this file,
# instead their template should result to an empty file/entry
# on systems where the binary should not be installed
# (empty files are not added by chezmoi)

# Ignore dynamic/cache ble.sh directory from being inspected
.local/share/blesh/run/**

# Ignore these if no graphical environment is installed
{{ if .headless }}
	.local/libexec/gogh
	.local/libexec/gogh/**
	.fonts
	.fonts/**
{{ end }}

# Ignore symlinks which are used for AppImages,
# The underlying AppImages are architecture dependent,
# so don't create the symlinks for unsupport systems
# Also all AppImages are glibc dependent so make sure it is available
{{ if not .appimage }}
	.local/bin.vendor.d/.AppImageRunner
	.local/bin.vendor.d/tmux
	.local/bin.vendor.d/vim
{{ end }}

# Ignore generated helptag files
.vim/pack/chezmoi/**/tags
