#! /usr/bin/env bash
# ~/.bashrc: executed by bash(1) for non-login shells.
# see /usr/share/doc/bash/examples/startup-files (in the package bash-doc)
# for examples

# This file is sourced by all *interactive* bash shells on startup,
# including some apparently interactive shells such as scp and rcp
# that can't tolerate any output. So make sure this doesn't display
# anything or bad things will happen !

# Test for an interactive shell. There is no need to set anything
# past this point for scp and rcp, and it's important to refrain from
# outputting anything in those cases.
if [[ $- != *i* ]] ; then
	# Shell is non-interactive.  Be done now!
	return
fi

# Chezmoi specific configuration files; changes will be removed by chezmoi
if [ -d ~/.bashrc.vendor.d/ ]; then
	for conf in ~/.bashrc.vendor.d/*.bash; do
		source "${conf}"
	done
	unset conf
fi

# Source machine specific configuration files; won't be updated by chezmoi
if [ -d ~/.bashrc.d/ ]; then
	for conf in ~/.bashrc.d/*.bash; do
		source "${conf}"
	done
	unset conf
fi

# Alias definitions.
# You may want to put all your additions into a separate file like
# ~/.bash_aliases, instead of adding them here directly.
# See /usr/share/doc/bash-doc/examples in the bash-doc package.
if [ -d ~/.bash_aliases.d ]; then
	for aliases in ~/.bash_aliases.d/*.bash; do
		source "${aliases}"
	done
	unset aliases
fi
# Machine specific aliases; won't be updated by chezmoi
if [ -f ~/.bash_aliases ]; then
	source ~/.bash_aliases
fi

# vim: filetype=bash
