{{- $colorscheme := "default" -}}
{{- if or (eq .colorscheme "selenized_light") (eq .colorscheme "selenized_dark") -}}
	{{- $colorscheme = "selenized" -}}
{{- else if or (eq .colorscheme "selenized_white") (eq .colorscheme "selenized_black") -}}
	{{- $colorscheme = "selenized_bw" -}}
{{- end -}}

{{- $background := "light" -}}
{{- if or (eq .colorscheme "selenized_light") (eq .colorscheme "selenized_white") -}}
	{{- $background = "light" -}}
{{- else if or (eq .colorscheme "selenized_dark") (eq .colorscheme "selenized_black") -}}
	{{- $colorscheme = "dark" -}}
{{- end -}}

set t_Co=16
colorscheme {{ $colorscheme }}
set background={{ $background }}
