# STATUSBAR CONFIGURATION
# For displaying system information and workspace indicators

# Start i3bar to display a workspace bar (plus the system information i3status finds out, if available)
bar {
	status_command i3status --config "$HOME/.config/i3/i3status.conf"

	# Tray only visible if primary monitor is set
	# Primary output can be set with `xrandr --output X --primary`
	tray_output primary
	tray_padding 5px

	font "$font"
	position top

	bindsym button4 nop
	bindsym button5 nop

	workspace_min_width 25px
	separator_symbol " // "

	# Using color scheme from default sway/i3 config
	colors {
		background $bg
		statusline $br_white
		focused_workspace $br_green $green $bg
		active_workspace $cyan $blue $black
		inactive_workspace $bg $br_black $fg
		urgent_workspace $br_yellow $yellow $black
		binding_mode $br_orange $orange $black
	}
}

{{- /* vim:set filetype=i3config: */}}
