#! {{ template "shebang.tmpl" "/usr/bin/env" }} bash

set -e

# Goph is used to apply color themes to all kinds of terminals
# By default it'll install only Selenized themes

BASE_PATH="${HOME}/.local/libexec/gogh"
export GOGH_APPLY_SCRIPT="${BASE_PATH}/apply-colors.sh"
export GOGH_NONINTERACTIVE="true"

apply_themes()
{
	for c in ${themes_excl}; do
		"${BASE_PATH}/${c}.sh"
	done

	GOGH_USE_NEW_THEME="true" "${BASE_PATH}/${theme_sel}.sh"
	unset TERMINAL
}

apply_gnome_terminal()
{
	export TERMINAL="gnome-terminal"
	apply_themes
}

apply_xfce4_terminal()
{
	export TERMINAL="xfce4-terminal"
	apply_themes
}

apply_foot_terminal()
{
	export TERMINAL="foot"
	apply_themes
}

main()
{
	if [ ! -f "${GOGH_APPLY_SCRIPT}" ]; then
		echo "Error: cannot find apply-colors.sh" 1>&2
		exit 1
	fi

	themes_def="selenized-black selenized-white selenized-dark selenized-light"
	theme_sel="{{ .colorscheme | replace "_" "-" }}"
	themes_excl="$(printf "${themes_def}" | sed "s/${theme_sel}//g")"
	themes="${themes_excl} ${theme_sel}" # Apply selected theme last

{{- if or (lookPath "gnome-terminal") }}
	apply_gnome_terminal
	applied="true"
{{ end -}}

{{- if lookPath "xfce4-terminal" }}
	apply_xfce4_terminal
	applied="true"
{{ end -}}

{{- if lookPath "foot" }}
	apply_foot_terminal
	applied="true"
{{ end }}

	if [ -z "${applied}" ]; then
		echo "Warning: no supported terminal detected for Gogh" 1>&2
	fi
}

main

# vim: ft=sh
