# Note: even though some applications might not be installed we try to start them anyway,
# because failure to start them does not cause any issues,
# and should the applications should be installed afterwards,
# no changes in config file must be made to have it running as expected

# lockscreen setup
# xss-lock grabs a logind suspend inhibit lock and will use i3lock to lock the
# screen before suspend. Use loginctl lock-session to lock your screen.
exec_always --no-startup-id xss-lock "$HOME/.local/bin/i3-inhibit-lockscreen"

exec --no-startup-id "$HOME/.local/bin/screensvron"

# startup important applications
exec --no-startup-id i3-msg 'workspace 1; exec i3-sensible-terminal'
{{- if .battery }}
# Alert at 15% and after that on every 3% battery level change with i3-nagbar
exec --no-startup-id "$HOME/.local/bin/i3-battery-popup -L 18% -I 3% -N -f '$font' -t 2m"
{{- end }}

# startup optional applications
exec --no-startup-id picom --vsync --inactive-dim 0.1 --backend glx --detect-transient --inactive-dim-fixed --use-ewmh-active-win --mark-wmwin-focused --glx-no-stencil
exec --no-startup-id redshift -l 52.5:13.4 -t 6500K:3000K
{{- if .wireless }}
exec --no-startup-id nm-applet
{{- end }}
# autostart programs; list autostarted apps: dex -ad
exec --no-startup-id dex --autostart --environment i3
# notification daemon; if not started will be started automatically by
# dbus, but if multiple notification daemons are installed, force dunst instead
exec_always --no-startup-id dunst

# runtime triggers (which run everytime i3 is being reloaded/restarted
# for some reason on i3 start incorrect keyboard layouts are applied
# even though this runs in startup. To fix this runs everytime i3 is
# restarted. So to force fix my layout I just do <Ctrl-Shift-r> to restart
# i3 and to execute the below setxkblayout script
exec_always --no-startup-id "$HOME/.local/bin/setxkblayout"
# Fix stuck in CAPS mode when keyboard layout has been already changed
bindsym Ctrl+Shift+66 exec --no-startup-id "xdotool key Caps_Lock"

# power control
bindsym $mod+q exec --no-startup-id "$HOME/.local/bin/screensvrnow"
bindsym $mod+Ctrl+Shift+q exec --no-startup-id i3-nagbar --type warning --message "Shutdown system?" --font "$font" --button-no-terminal "Yes" "$HOME/.local/bin/pwrshutdown"


# launcher bindings
# start program launcher
bindsym $mod+d exec --no-startup-id "rofi -modi drun -show drun"
bindsym $mod+Shift+d exec --no-startup-id "rofi -modi run -show run"
# start filebrowser
bindsym $mod+f exec --no-startup-id "rofi -modi filebrowser -show filebrowser"
# start window switcher
bindsym $mod+Tab exec --no-startup-id "rofi -modi window -show window -show-icons"

{{ if .battery -}}
# handle backlight
bindsym XF86MonBrightnessUp   exec light -A 10
bindsym XF86MonBrightnessDown exec light -U 10
{{- end }}

# screenshot bindings
# use my screenshot wrapper script that can use different screenshot utilities
bindsym --release $mod+Print exec --no-startup-id "$HOME/.local/bin/screenshot -s"

# Launcher mode (launches applications directly from keybindings)
mode "launch" {
        # these bindings trigger as soon as you enter the launch mode
	bindsym q exec "$HOME/.local/bin/openbrowser qutebrowser"; mode "default"
	bindsym f exec "$HOME/.local/bin/openbrowser firefox"; mode "default"
	bindsym c exec "$HOME/.local/bin/openbrowser chromium"; mode "default"
	bindsym n exec "$HOME/.local/bin/termfg vim"; mode "default"

        # back to normal: Enter or Escape or $mod+r
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+o mode "default"
}
bindsym $mod+o mode "launch"

# vim: filetype=i3config
