{{ template "swayconfig/base.conf.tmpl" . }}
{{ template "swayconfig/workspaces.conf.tmpl" . }}
{{ template "swayconfig/theme.conf.tmpl" . }}
{{ template "swayconfig/bindings.conf.tmpl" . }}
{{ template "swayconfig/launcher.conf.tmpl" . }}
{{ template "swayconfig/lockscreen.conf.tmpl" . }}
{{ template "swayconfig/applications.conf.tmpl" . }}
{{ template "swayconfig/multimedia.conf.tmpl" . }}
{{ template "swayconfig/bar.conf.tmpl" . }}

include "custom.conf"

# vim: filetype=i3config
