# example setup for custom laptop touchpad setup
#exec --no-startup-id xinput set-prop "ELAN0709:00 04F3:31BF Touchpad" "libinput Tapping Enabled" 1
#exec --no-startup-id xinput set-prop "ELAN0709:00 04F3:31BF Touchpad" "libinput Natural Scrolling Enabled" 1

# example setup for workspace assignment to displays
#workspace $ws0  output DisplayPort-1
#workspace $ws1  output DisplayPort-1
#workspace $ws2  output DisplayPort-1
#workspace $ws3  output DisplayPort-1
#workspace $ws4  output DisplayPort-1
#workspace $ws5  output DisplayPort-1
#workspace $ws6  output DisplayPort-2
#workspace $ws7  output DisplayPort-2
#workspace $ws8  output DisplayPort-2
#workspace $ws9  output DisplayPort-2
#workspace $ws10 output DisplayPort-2
#workspace $ws11 output DisplayPort-2
#workspace $ws12 output DisplayPort-2

# move tiling windows via drag & drop by left-clicking into the title bar,
# or left-clicking anywhere into the window while holding the floating modifier.
# >4.21 i3 version required, therefore it is in custom
#tiling_drag modifier titlebar

# vim: filetype=i3config
