# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
	colors = true
	interval = 5
	color_good = "#70b433"
	color_degraded = "#dbb32d"
	color_bad = "#ed4a46"
}

#order += "ipv6"
order += "wireless _first_"
order += "ethernet _first_"
order += "battery all"
order += "disk /"
order += "load"
order += "memory"
order += "volume master"
order += "tztime local"

{{- define "shape" }}
	min_width = 60
	align     = center
{{- end }}

ipv6 {
	format_up = "IPV6 %ip"
	format_down = ""
	{{ template "shape" }}
}

wireless _first_ {
	format_up = "WLAN (%essid) %ip (%bitrate)"
	format_down = ""
	{{ template "shape" }}
}

ethernet _first_ {
	format_up = "LAN %ip (%speed)"
	format_down = ""
	{{ template "shape" }}
}

battery all {
	format = "BAT %status %percentage %remaining"
	format_down = ""
	status_bat  = "DIS"
	integer_battery_capacity = true
	threshold_type = "percentage"
	low_threshold = "20"
	{{ template "shape" }}
}

disk "/" {
	format = "DISK %used/%total"
	threshold_type = percentage_free
	low_threshold = 10
	{{ template "shape" }}
}

load {
	format = "LOAD %1min"
	max_threshold = 4
	{{ template "shape" }}
}

memory {
	format = "MEM %used/%total"
	memory_used_method = classical
	threshold_degraded = "20%"
	threshold_critical = "10%"
	{{ template "shape" }}
}

volume master {
	device = "default"
	format = "VOL %volume"
	format_muted = "VOL %volume (muted)"
	{{ template "shape" }}
}

tztime local {
	format = "TIME %Y-%m-%d %H:%M:%S"
	{{ template "shape" }}
}

# vim: filetype=conf
