#! {{ template "shebang.tmpl" "/usr/bin/env" }} sh

# Simple scripts that check which dependencies/utilies
# used by i3/i3-keybinds are missing/not installed
# and informs the user that these should/could be installed
# for better usability

{{ if lookPath "i3" }}

check_single_dep()
{
	dep="${1}"
	sh -l -c "command -v '${dep}'" 1>/dev/null 2>&1
	return "${?}"
}

check_list_dep()
{
	deps="${1}"
	msg="${2}"

	for i in ${deps}; do
		OIFS="${IFS}"
		IFS="${IFS}|"
		if (for j in ${i}; do
				if check_single_dep "${j}"; then
					exit 1
				fi
			done); then
			echo "${msg} $(echo "${i}" | sed 's/|/ OR /g')"
		fi
		IFS="${OIFS}"
	done
}

verify_deps()
{
	# List of dependencies that should be checked if installed on the system
	# binaries installed by chezmoi are also detected.
	# Special syntax: 'maim|scrot' allows specifying multiple dependencies from
	# which only one needs to be available. Using this syntax the deps must be
	# delimited by pipe |, no whitespaces are allowed and the must be in a single line.
	required_deps="
		setxkbmap
		i3status
		xset
		xss-lock
		i3-sensible-terminal
		pactl
{{ if .battery -}}
		light
{{ end -}}
		rofi"

	optional_deps="
		dex
		redshift
		picom
{{ if .battery -}}
		powertop
		xinput
{{ end -}}
		dunst
		xclip
		maim|scrot
		gojq|jq
		notify-send
		xrandr"


	check_list_dep "${required_deps}" "Warning: important i3 dependency not installed:" 1>&2
	check_list_dep "${optional_deps}" "Info: optional i3 dependency not installed:"
}

check_primary()
{
	if command -v xrandr 1>/dev/null 2>&1; then
		primary="$(xrandr --listmonitors | grep '^[[:space:]]\+[[:digit:]]\+: +\*')"
		if [ -z "${primary}" ]; then
			echo "Warning: no primary output set (no tray icons will be displayed), set one with 'xrandr --output X --primary'"
		fi
	else
		echo "Warning: xrandr not installed, cannot check primary output for tray position" 1>&2
	fi
}

verify_deps
check_primary

{{ end }}

# vim: filetype=sh
