#! {{ template "shebang.tmpl" "/usr/bin/env" }} sh

# Simple scripts that check which dependencies/utilies
# used by i3/i3-keybinds are missing/not installed
# and informs the user that these should/could be installed
# for better usability

check_deps()
{
	required_deps="
		setxkbmap
		i3status
		xset
		xss-lock
		i3-sensible-terminal
		pactl
{{ if .battery -}}
		light
{{ end -}}
		rofi"

	optional_deps="
		dex
		redshift
		picom
{{ if .battery -}}
		powertop
		xinput
{{ end -}}
		dunst
		xclip
		maim
		notify-send
		xrandr"

	for i in ${required_deps}; do
		if ! command -v "${i}" 1>/dev/null 2>&1; then
			echo "Warning: important i3 dependency not installed: ${i}" 1>&2
		fi
	done

	for i in ${optional_deps}; do
		if ! command -v "${i}" 1>/dev/null 2>&1; then
			echo "Info: optional i3 dependency not installed: ${i}"
		fi
	done
}

check_primary()
{
	if command -v xrandr 1>/dev/null 2>&1; then
		primary="$(xrandr --listmonitors | grep '^[[:space:]]\+[[:digit:]]\+: +\*')"
		if [ -z "${primary}" ]; then
			echo "Warning: no primary output set (no tray icons will be displayed), set one with 'xrandr --output X --primary'"
		fi
	else
		echo "Warning: xrandr not installed, cannot check primary output for tray position" 1>&2
	fi
}

check_deps
check_primary


# vim: filetype=sh
