#! /usr/bin/env sh

# Wrapper script that enables/setups the screenlocking/screensaver for i3 systems
# The timeout is determined whether the system is having a battery installed or not

{{ if .battery -}}
timeout=120
{{ else -}}
timeout=300
{{ end -}}

# Set screen timeout to activate screensaver
xset s "${timeout}" 10

# vim: filetype=sh
