# In this folder machine specific bash configuration should be placed; they won't be updated by chezmoi
# This file is required to ensure nothing gets committed in here in the chezmoi directory
*
!.gitignore
